<div id="home-page-body">
  <div id="heroBackground"></div>
    <div class="preloader">
      <div class="bar"></div>
    </div>
    <div id="page">
      <div id="heroWrapper" class="container-fluid">
        <div id="hero" class="container">
          <div class="container">
            <div class="row top-links">
              <div class="logo col-xs-3 col-sm-3 col-md-2 col-lg-2">
                <div class='zlab-logo-container'><img class="zlab-logo" alt="Logo" title="Zhang Lab"><span class="logo-desc"><a id="back-home-link" href="/#/">Back home</a></span></div>
              </div>
              <div class="social col-xs-9 col-sm-9 col-md-10 col-lg-10">
                <div class="social-links">
                  <a href="/#/about" class="top-left-link">About</a>
                  <a href="http://zlab.mit.edu/" class="top-left-link">Team</a>
                  <a href="mailto:cld@mit.edu" class="top-left-link">Contact Us</a>
                  <a href="https://github.com/joshim5/CRISPR-Library-Designer/issues" class="top-left-link">Report a Bug</a>
                </div>
              </div>
            </div>

            <div class="row main-content">
              <div id="about-page">
              	<div class="col-md-12">
                	<h3>What is the CRISPR Library Designer?</h3>
                	<p>The development of CRISPR (clustered regularly interspaced short palindromic repeats)-Cas has enabled new methods for interrogating gene function on a genome-wide scale. With just a simple alteration of the single-guide RNA (sgRNA) or direct repeat (DR) sequence, one can reprogram a nuclease to target different sites in the genome.</p>
                	<p>Recently, genome-scale CRISPR-Cas9 knockout libraries have become a popular method for performing loss-of-function screens. In 2015, our GeCKO library for large scale functional screens, lentiCRISPR V2 became the <a href="http://blog.addgene.org/your-top-requested-plasmid-in-2015">most requested plasmid on Addgene</a>. This fantastic research tool has been requested from the repository nearly 1,000 times in 2015, yet we still received nearly daily requests for custom library constructs.</p>
                	<p>Therefore, we designed the CRISPR Library Designer: a semi-automated, tissue-specific software tool allowing scientists to design CRISPR knockout libraries as effortlessly as possible, without sacrificing control.</p>

              		<h3>How does it work?</h3>
              		<iframe width="560" height="315" src="https://www.youtube.com/embed/3uApP30Q3QU" frameborder="0" allowfullscreen></iframe>

                	<h3>Technical Specifications</h3>
                	<p>The software tool proceeds by blasting Ensembl transcripts for the PAM of the chosen enzyme, predicting on-target activity using machine learning models and weighting these results by mRNA expression of each exon (using RNA-seq profiles from the <a href="http://gtexportal.org/home/">GTEx consortium</a> and <a href="http://www.ncbi.nlm.nih.gov/geo/">Gene Expression Omnibus</a>). The user can individually reconfigure the targeted guides/exons and export the selected guides as a CSV spreadsheet, in a format suitable for upload to a custom oligo pool manufacturer, such as <a href="https://www.twistbioscience.com/">Twist Biosciences</a> or <a href="http://www.customarrayinc.com/">CustomArray</a>.</p>
                	<p>To promote scientific accuracy and development of this technology, we have <a href="https://github.com/joshim5/CRISPR-Library-Designer">open-sourced all code</a> for the CRISPR Library Designer at the open-source repository <a href="https://github.com/joshim5/CRISPR-Library-Designer">GitHub</a>.</p>
                	<p>For further questions or to report problems, please contact <a href="mailto:cld@mit.edu">cld@mit.edu</a>.</p>
              	</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>