<div cg-busy="{promise:generateGuidesPromise,templateUrl:'static/partials/angular-busy.html'}">
<div id="full-page">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="logo-box">
          <a href="/#/"><span>CRISPR Library Designer</span></a>
        </div>
        <div class="search-box form-group"> 
          <div class="input-group">
            <input type="text" class="form-control" id="search-str" placeholder="Search for additional genes or tissues..." ng-model="geneTissueQuery">
            <div class="input-group-addon" ng-click="geneTissueSearch()"><i class="fa fa-search"></i></div>
          </div>
        </div>
        <div class="guide-count-box">
          <button type="button" class="btn btn-primary" ng-csv="getGuidesCSV()" filename="guides.csv" csv-header="['Seq',  'Start',   'Score', 'Gene', 'Exon']" csv-column-order="['seq', 'start', 'score', 'gene', 'exon']"> Export {{ countSelectedGuides }} guides</button>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <div class="sidebar-wrapper-inner">
        <ul class="sidebar-nav">
          <li ng-repeat="thegene in gene_to_exon" class="sidebar-primary-item-action" ng-class="{ selected_item : thegene == gene }">
            <span class="sidebar-primary-item-action">
              <div class="x-close-container">
                <span ng-click="removeGene($index)" class="x-close"><i class="fa fa-times-circle"></i></span>
              </div>
              <div class="sidebar-primary-item-action-text-container">
                <a href="" ng-click="setGene($index)" class="sidebar-primary-item-action" ng-class="{ selected_item : thegene == gene }">
                  <span class="sidebar-primary-item-action-text">
   {{ thegene.name }}
                  </span>
                </a>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div id="page-content-wrapper">
      <div class="page-content">
        <div class="container-fluid" id='container'>
          <div class="row">
            <div class="col-md-12">
              <svg height="250" id="exon_graph" width="100%" x="20">
                <g id="background_exon_graph">
                  <rect fill="#eee" height="250" width="100%" x="0" y="0"></rect>
                </g>
                <g id="all_exons">
                  <rect class="connector" fill="#000" height="3" stroke="#000" width="100%" x="0" y="100" id="connector_rect"></rect>
              
                  <g drawindividualexon index="{{$index}}" exons-length="{{gene.exons.length}}" exon="exon" ng-repeat="exon in gene.exons">
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="row">
            <div class=".col-md-6 .col-md-offset-3">
              <div class="table-header">
                <span>
                  Step 3) Customize your guide selection.
                </span>
              </div>
              <table class="table">
                <tr>
                  <th>
                    <select-all-checkbox checkboxes="all_gRNAs[gene.name]" counter="countSelectedGuides"></select-all-checkbox>
                  </th>
                  <th>Sequence (5' <i class="fa fa-long-arrow-right"></i> 3')</th>
                  <th><a tooltip-placement="left" uib-tooltip="Efficiency scores are computed using the techniques described by (1) Doench, et al., 2014; and (2) Fusi, et al., 2016., and presented as (1)/(2)." ng-click="orderByField='score'; reverseSort = !reverseSort">Efficiency </a><span ng-show="orderByField == 'score'"><span ng-show="!reverseSort"><i class="fa fa-angle-up"></i></span><span ng-show="reverseSort"><i class="fa fa-angle-down"></i></span></span></th>
                  <th><a href="" ng-click="orderByField='exon'; reverseSort = !reverseSort">Exon targeted by guide </a><span ng-show="orderByField == 'exon'"><span ng-show="!reverseSort"><i class="fa fa-angle-up"></i></span><span ng-show="reverseSort"><i class="fa fa-angle-down"></i></span></span></th>
                </tr>
                <tr ng-repeat="guide in all_gRNAs[gene.name] | orderBy:orderByField:reverseSort">
                  <td><input type="checkbox" ng-model="guide.selected" ng-change="guideSelected(guide)"></td>
                  <td class="nt-sequence">{{ guide.seq }}</td>
                  <td>{{ guide.score.toFixed(2) }}</td>
                  <td>{{ guide.exon }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>