<div id="home-page-body">
  <div id="heroBackground"></div>
    <div class="preloader">
      <div class="bar"></div>
    </div>
    <div id="page">
      <div id="heroWrapper" class="container-fluid">
        <div id="hero" class="container">
          <div class="container">
            <div class="row top-links">
              <div class="logo col-xs-3 col-sm-3 col-md-2 col-lg-2">
                <div class='zlab-logo-container'><img class="zlab-logo" alt="Logo" title="Zhang Lab"><span class="logo-desc">Zhang Lab</span></div>
              </div>
              <div class="social col-xs-9 col-sm-9 col-md-10 col-lg-10">
                <div class="social-links">
                  <a href="" class="top-left-link">About</a>
                  <a href="http://zlab.mit.edu/" class="top-left-link">Team</a>
                  <a href="mailto:jmeier@college.harvard.edu" class="top-left-link">Contact Us</a>
                  <a href="https://github.com/joshim5/CRISPR-Library-Designer/issues" class="top-left-link">Report a Bug</a>
                </div>
              </div>
            </div>
            <div class="row tagline">
              <div class="col-md-7">
                <h1>
                    Design your own custom CRISPR libraries.
                </h1>
                <h2>
                  How does it work?<a ng-mouseenter="learn_more_to_black()" ng-mouseleave="learn_more_to_white()" href="" style="color: {{ learn_more_fill }}">Learn more
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width=" 32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <g>
                      <path fill="{{ learn_more_fill }}" d="M15.901,31.355c-8.503,0-15.421-6.918-15.421-15.42c0-8.503,6.918-15.421,15.421-15.421
                      s15.421,6.918,15.421,15.421C31.322,24.437,24.404,31.355,15.901,31.355L15.901,31.355z M15.901,1.514
                      C7.949,1.514,1.48,7.983,1.48,15.935s6.469,14.42,14.421,14.42c7.952,0,14.421-6.469,14.421-14.42S23.853,1.514,15.901,1.514
                      L15.901,1.514z"></path>
                    </g>
                    <polygon fill="{{ learn_more_fill }}" points="10.182,15.341 19.12,15.341 15.182,11.403 16.12,10.341 21.62,15.903 21.62,16.403 16.182,21.529
                    15.182,20.466 19.12,16.403 10.182,16.403 "></polygon>
                  </svg></a>
                </h2>
              </div>
              <div class="col-md-5">
                <h2>Step 1) Experimental setup.</h2>
                <div class="entry_container">
                  <span class="entry_label">Genes:</span> 
                  <ui-select multiple ng-model="guidesFactory.data.genes" theme="bootstrap" limit="10" ng-disabled=         "disabled" style="width: 100%; background: none; background-color: transparent">
                    <ui-select-match placeholder="Select genes...">{{$item.name}} &lt;{{$item.ensembl_id}}&gt;         </ui-select-match>
                   <ui-select-choices repeat="gene in genesAvailable | propsFilter: {name: $select.search, ensembl_id: $select.search} | limitTo: 10">
                      <div ng-bind-html="gene.name | highlight: $select.search"></div>
                      <small>
                        Name: {{gene.name}}
                        Ensembl: <span ng-bind-html="''+gene.ensembl_id | highlight: $select.search"></span>
                      </small>
                    </ui-select-choices>
                  </ui-select>
                </div>
          
                <div class="entry_container">
                  <span class="entry_label">Tissues:</span> 
                  <ui-select multiple ng-model="guidesFactory.data.tissues" theme="bootstrap" limit="10" ng-disabled=         "disabled" style="width: 100%; background: none; background-color: transparent">
                    <ui-select-match placeholder="Select tissues...">{{$item}}        </ui-select-match>
                    <ui-select-choices repeat="tissue in tissuesAvailable | filter: $select.search | limitTo: 10">
                      <div ng-bind-html="tissue | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
          
                <div class="entry_container">
                  <span class="entry_label">gRNA count:</span></br>
                  <div class="the_slider">
                    <md-content style="margin: 16px 0; padding:16px">
                    <div layout>
                      <md-slider flex min="0" max="600" ng-model="guidesFactory.data.quantity" aria-label="red" id="red-            slider" class>
                      </md-slider>
                      <div flex="20" layout layout-align="center center">
                        <input flex type="number" ng-model="guidesFactory.data.quantity" aria-label="red" aria-controls="         red- slider">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row down">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="/#/designer">
                  <span class="arrow" growshrinkarrow>
                    <span class="inner-arrow">
                      <span>Step 2 <i class="fa fa-arrow-right"></i></span>
                    </span>
                  </span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>